{% extends 'base.html' %}
{% load static %}
{% block title %} meetMyDoctor |  Meeting Page {% endblock %}
{% block style %}
<link rel="stylesheet" href="{% static 'home/style.css' %}" type="text/css" />

      <link type="text/css" rel="stylesheet" href="https://source.zoom.us/1.9.5/css/bootstrap.css" />
    <link type="text/css" rel="stylesheet" href="https://source.zoom.us/1.9.5/css/react-select.css" />
{% endblock %}
{% block content %}

    <script src="https://source.zoom.us/1.9.5/lib/vendor/react.min.js"></script>
    <script src="https://source.zoom.us/1.9.5/lib/vendor/react-dom.min.js"></script>
    <script src="https://source.zoom.us/1.9.5/lib/vendor/redux.min.js"></script>
    <script src="https://source.zoom.us/1.9.5/lib/vendor/redux-thunk.min.js"></script>
    <script src="https://source.zoom.us/1.9.5/lib/vendor/lodash.min.js"></script>
    <script src="https://source.zoom.us/zoom-meeting-1.9.5.min.js"></script>
    <script src="{% static '\js\tool.js' %}"></script>
<script src="{% static '\js\vconsole.min.js' %}"></script>
<script src="{% static '\js\meeting.js' %}"></script>
{% endblock %}